a{
  text-decoration: none;
  color: white;
}
.App {
  text-align: center;
}
.App-header {
  height: 150px;
  padding: 20px;
}
.main-search{
  width: 25%;
  height: 15%;
  margin: 30px;
  margin-top: 50px;
  padding: 5px;
  border-radius: 3px;
  border: 1px black solid;
  background-color: whitesmoke;
}
.main-search::after{
  content: url('components/search.svg');
}
.search-button{
  list-style: none;
  background-color: #3F8ABF;
  color: white;
  border: none;
  margin: 0 5px;
  padding: 5px 15px;
  border-radius: 10px;
  transition: .5s ease-out;
  font-size: 1.15em;
}
.search-buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button:hover{
  cursor: pointer;
  background-color: #245171;
}
.search-button-icon{
  border:none;
  background-color: #3F8ABF;
  height:24.5px;
  width:24.5px;
  position:absolute;
  top: 70px;
  right: 539px;
  border-radius: 3px;
  transition: .5 ease-out;
}
.search-button-icon:hover{
  background-color: #245171;
  cursor: pointer;
}
.results-container{
  display: flex;
  flex-wrap: wrap;
  margin:50px;
  padding: 25px;
  overflow: hidden;
}
.images-container{
  display: flex;
  margin: auto;
  /* padding: 2px; */
}
.images-container img{
  overflow: hidden;
}
















/* This is the animate for the spinning react logo keeping it here for
  personal note
 */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */


/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
